<div>
   
      <label for="name"> Name</label>
      <input type="text" id="name" placeholder="Your name..">
  
      <label for="id">ID</label>
      <input type="number" id="id"placeholder="Your id">

      <label for="id">gdpa</label>
      <input type="number" id="gdpa"placeholder="Your gdpa">
  
  
      <label for="name"> birth date </label>
      <input type="text" id="birth" placeholder="Your birth date">
  
    
      <button id ="sub" (click)="submit()">Submit</button>
      <button id ="sub" (click)="print()">print</button>
      
      <div id ="print"></div>
    
  </div>
